*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

.contianer{
    width: 100%;
    margin: auto;
    text-align: center;
}

.logo{
    margin-left: 565px;
    margin-top: 50px;
    
}

.title{
    margin-left: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.capion{
    list-style-type: none;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
}